<div class="bg-gray-900 mt-5 py-3">
<form class=" mt-20  content-center m-5" [formGroup]="contactForm">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          First Name
        </label>
        <input formControlName="firstName" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Name">
        <ng-container *ngIf="firstName?.errors && (firstName?.dirty || firstName?.touched)">
          <small class="text-red-500 " *ngIf="firstName?.errors?.['required']">Il campo è obbligatorio</small>
        </ng-container>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          Last Name
        </label>
        <input formControlName="lastName" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Last Name">
        <ng-container *ngIf="lastName?.errors && (lastName?.dirty || lastName?.touched)">
          <small class="text-red-500" *ngIf="lastName?.errors?.['required']">Il campo è obbligatorio</small>
        </ng-container>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          E-mail
        </label>
        <input 
            formControlName="email"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
            id="email" 
            type="email" 
            matAutocompleteOrigin #origin="matAutocompleteOrigin"
            matInput
            formControlName="email"
            [matAutocomplete]="auto"
            [matAutocompleteConnectedTo]="origin">
        <ng-container *ngIf="this.contactForm.get('email')?.errors && (this.contactForm.get('email')?.dirty || this.contactForm.get('email')?.touched) ">
          <div *ngIf="this.contactForm.get('email')?.errors?.['required']">
            <small class="text-red-500" >La mail è obbligatoria</small>
          </div>
          <div *ngIf="this.contactForm.get('email')?.errors?.['email']">
            <small class="text-red-500" >La email deve essere come da essempio</small>
          </div>
        </ng-container>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
        <!-- <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          E-mail
        </label>
        <input formControlName="email" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email" type="email">
        <ng-container *ngIf="this.contactForm.get('email')?.errors && (this.contactForm.get('email')?.dirty || this.contactForm.get('email')?.touched) ">
          <div *ngIf="this.contactForm.get('email')?.errors?.['required']">
            <small class="text-red-500" >La mail è obbligatoria</small>
          </div>
          <div *ngIf="this.contactForm.get('email')?.errors?.['email']">
            <small class="text-red-500" >La email deve essere come da essempio</small>
          </div>
        </ng-container> -->
          <p class="text-gray-600 text-xs italic">essempio@gmail.com</p>
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          Message
        </label>
        <textarea formControlName="message" class=" no-resize appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" id="message"></textarea>
        
        <ng-container *ngIf="message?.errors && message?.errors?.['required']"></ng-container>
       
        <ng-container *ngIf="message?.errors && (message?.dirty || message?.touched)">
          <small class="text-red-500" *ngIf="message?.errors?.['minlength']">Il messagio non ha i {{ message?.errors?.['minlength']['requiredLength'] }} caratteri richiesti. (Caratteri inseriti {{message?.errors?.['minlength']['actualLength']}})</small>
        </ng-container>
         <p class="text-gray-600 text-xs italic">si prega di esporere i dubbi di maniera chiara</p>
      </div>
    </div>
    <div class="md:flex md:items-center">
      <div class="md:w-1/3">
        <button class="shadow bg-teal-400 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button" [disabled]="!(this.contactForm.valid)">
          Send
        </button>
        <ng-container class="text-red-500" *ngIf="contactForm?.errors">
          Uno o piu campi
        </ng-container>

      </div>
      <div class="md:w-2/3"></div>
    </div>
  </form>
</div>
