<body class="bg-gray-900">
<div class="p-8 flex justify-center ">
  <div class="flex flex-row mt-5">
    <div class="imagine ml-3 max-w-xs md:flex ">
      <img src="../../../assets/images/20221115_163837.jpg" alt="Giacomo foto">
    </div>
    <div class="object-right max-w-3xl md:flex ml-3 ">
      <p class="text-justify text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget est at purus cursus fringilla. In
        vulputate nec lectus non auctor. In pretium egestas nisi ac sagittis. Donec ex sapien, luctus id est vitae,
        consectetur ultrices quam. Aenean a finibus libero, in porttitor risus. Pellentesque laoreet cursus orci, id
        finibus odio convallis ut. Nullam efficitur quis augue in tincidunt.

        Pellentesque a tincidunt neque. Integer in nulla ullamcorper, varius nisi at, fermentum mauris. Nulla cursus
        semper lorem, eu ullamcorper purus congue sollicitudin. Ut lorem ex, aliquet nec posuere eu, finibus sit amet
        nisl. Donec vehicula pretium mauris, quis laoreet nisl fringilla nec. In hac habitasse platea dictumst. Morbi id
        aliquam purus.

        Nam eget turpis viverra, iaculis enim at, aliquam erat. Duis nibh turpis, scelerisque at elementum at, tristique
        eget quam. Cras in eros ante. Sed interdum scelerisque molestie. Pellentesque vitae elit enim. Proin ullamcorper
        dolor vitae nisi molestie, sit amet varius metus sollicitudin. Quisque at dolor a urna tempor pulvinar.
        Curabitur dictum nunc quis aliquam rutrum. Nulla facilisi. Phasellus at nulla ac ligula vehicula tempus.
        Phasellus dui odio, rutrum eu maximus et, condimentum vitae massa. Aliquam quis urna sit amet turpis pretium
        suscipit ac et libero. Ut ac condimentum ante. Morbi sed viverra neque. Fusce congue ligula commodo nibh
        dapibus, a volutpat urna facilisis.

        Aenean tempor sodales laoreet. Proin finibus purus eget erat vehicula, vitae vehicula quam volutpat.
        Pellentesque sed accumsan felis. Ut venenatis pellentesque nisi non porttitor. In tellus magna, malesuada non
        nibh non, pharetra eleifend dolor. Aliquam fermentum, leo eget bibendum condimentum, ex diam ullamcorper leo, at
        molestie tortor purus vel lectus. Pellentesque fringilla urna vitae metus lacinia, id commodo sapien egestas. Ut
        fermentum pellentesque mollis. Nulla facilisi.

        Sed ac dolor in ligula bibendum imperdiet ut id ante. Nulla fringilla lobortis nibh, et semper lacus ornare
        finibus. Integer fringilla eros a lectus tempus, at maximus nisl gravida. Duis ac odio dictum, aliquet velit
        quis, commodo orci. Ut venenatis varius felis. Aliquam sodales ut dolor sit amet venenatis. Integer fringilla
        orci arcu, non malesuada lacus blandit nec. Maecenas vitae gravida justo. Donec ultricies eget purus ut cursus.
        Nam posuere, purus non bibendum tempor, lectus quam malesuada eros, volutpat lobortis neque ante hendrerit
        mauris. Morbi dignissim quam quis gravida luctus. Suspendisse fermentum maximus lacus.
      </p>
    </div>
  </div>
</div>
</body>
